* {
	font-family: "Comic Sans MS", cursive;
	text-align: center;
}

body {
	background-color: lightgrey;
}

h1 {
	margin: 0px;
	max-width: 500px;
	padding: 5px;
	background-color: #9bc1ff;
}

table {
	text-align: center;
	background-color: darkgrey;
	border: 1px solid black;
}

#italic {
	font-style: italic;
}
